<%- include("partials/header"); -%>



    <section class="findbbody" >
            <div style="width:30%; position:absolute;  top: 100px; " >

                    <header class="cheading" >
                        <h1 class="ch1" >Appointment </h1>
                      </header>
                    
                    </div>
      <form  method="POST" id="appointment-form" action="">
        <div class="container  d-flex justify-content-center">
            <div style="margin-top:150px;" class="card px-1 py-4">
                <div class="card-body">
                    <h3 class="card-title mb-3">This appointment is for</h3>
                    <div class="d-flex flex-row"> <label class="radio mr-1"> <input id="donar" type="radio" name="add" value="anz" checked> <span> <i class="fa fa-user"></i> Donar </span> </label> <label class="radio"> <input type="radio" name="add" id="reciever" value="add"> <span> <i class="fa fa-plus-circle"></i> Reciever </span> </label> </div>
                    <h5 class="information mt-4">Please provide following information </h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- <label for="name">Name</label> --> <input required  id="name" class="form-control" type="text" placeholder="Name"> </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"> <input id="phone" class="form-control" required  type="text" placeholder="Mobile"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"> <input id="email" class="form-control" type="text" required  placeholder="Email ID"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group"> <input id="date" class="form-control" type="date" required> </div>

                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                    <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"> <small class="agree-text">By Booking this appointment you agree to the</small> <a href="#" class="terms">Terms & Conditions</a> </div> 
                    <button type="submit" class="btn btn-danger btn-block confirm-button">Proceed</button>
                </div>
                
            </div>
        </div>
      </form>
      
    </section>
    <script type="module" defer src="Scripts/appointment-script.js"></script>
    <link rel="stylesheet"  href="css/appointment-CSS.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />


