<%- include("partials/header"); -%>

<section class="contact">
  <header>
    <h3>Nisl turpis nascetur interdum?</h3>
  </header>
  <p>
    Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis
    vivamus tempor aliquet.
  </p>
  <ul class="icons">
    <li>
      <a href="#" class="icon brands fa-twitter"
        ><span class="label">Twitter</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-facebook-f"
        ><span class="label">Facebook</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-instagram"
        ><span class="label">Instagram</span></a
      >
    </li>
    <li>
      <a href="#" class="icon brands fa-linkedin-in"
        ><span class="label">Linkedin</span></a
      >
    </li>
  </ul>
</section>
<link rel="stylesheet" href="../style.css" />
<script
  src="https://kit.fontawesome.com/b316055d0b.js"
  crossorigin="anonymous"
></script>
<%- include('partials/footer'); -%>
