<script type="module" src="Scripts/profile-script.js" defer></script>

    <%- include("partials/header"); -%>

<section>

    <div class="container">
        <h3>FORGOT PASSWORD?</h2>
        <p>Enter your email address below to reset your password.</p>
        <form id="forgetForm" class="forget-form" action="" method="POST">
            <div class="form-group">
                <input required type="email" name="email" id="email" placeholder="Email Address"/>
            </div>
            <button type="submit" class="submit-btn btn" id="submit-btn">
                Reset Password
            </button>
        </form>
    </div>

</section>

<link rel="stylesheet" href="css/forget-css.css">
<script type="module" src="Scripts/forget-script.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />

    <script type="module" src="Scripts/appointment-script.js" defer ></script>


    <script src="/Scripts/index-script.js"></script>