* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 30%;

  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 300px;
  margin-top: 300px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2b7b7;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}

.form-group input {
  width: 50%;
  padding: 5px;
  border: 1.5px solid rgb(190, 182, 182);
  border-radius: 10px;
  margin-top: 5px;
  font-size: 18px;
}

button.submit-btn {
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: burlywood;
  cursor: pointer;
}
