* {
  padding: 0px;
  margin: 0px;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122);
}

.container {
  width: 30%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.submit-btn {
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: cadetblue;
  cursor: pointer;
}

.form-group {
  width: 100%;
  margin-top: 20px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1.5px solid rgb(190, 182, 182);
  border-radius: 4px;
  margin-top: 5px;
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
}

.signup-redirect {
  float: left;
  margin-right: 15px;
  margin-top: 15px;
}
