.cheader {
  background: #333;
  display: block;
  color: white;
  position: absolute;
  margin-bottom: 500px;
  z-index: 9;
}

.cheader:before,
.cheader:after {
  content: "";
  margin: auto 1em;
  border-bottom: solid 1px;
}

.ch1 {
  position: relative;
  padding: 0.25em 1em;
  overflow: hidden;
  background: linear-gradient(currentcolor, currentcolor) no-repeat top center,
    linear-gradient(currentcolor, currentcolor) no-repeat bottom center;
  background-size: calc(100% - 1.65em) 1px;
}

.ch1:before,
.ch1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 1px;
  border-top: none;
  border-bottom: none;
  transform: skew(45deg);
}

.ch1:after {
  transform: skew(-45deg);
}
.cheader + cheader {
  color: pink;
}
.cheader + cheader + cheader {
  color: gold;
}
